/._Transcription Alignment module.py
.gitignore
/.ipynb_checkpoints
/Untitled.ipynb
/Untitled.ipynb.invalid
/Untitled1.ipynb
/test.py
/test1.py
audio_files/
get_audios.py
get_model.py
local_model/
transcription_V0.1.py
transcription_V0.2.py
test_transcription.py
transcription.py
model.json
asr_new/audio_files/2227922522300497034/
asr_new/__pycache__
__pycache__/
._.DS_Store
._audio_files
old_codes/
.vscode/
.gitignore
.DS_Store
atest.py
